@font-face {
  font-family: 'Bodigold';
  src: url('../fonts/Bodigold.eot');
  src: url('../fonts/Bodigold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bodigold.woff2') format('woff2'),
    url('../fonts/Bodigold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libreville';
  src: url('../fonts/Libreville-Regular.eot');
  src: url('../fonts/Libreville-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Libreville-Regular.woff2') format('woff2'),
    url('../fonts/Libreville-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quickie';
  src: url('../fonts/Quickie-Regular.eot');
  src: url('../fonts/Quickie-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Quickie-Regular.woff2') format('woff2'),
    url('../fonts/Quickie-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
body {
  background: #fffefc;
  color: #111;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: #111;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libreville';
  font-weight: 100;
  margin: 0;
}
p {
  font-family: 'Quickie', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.3em;
}
